@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('http://fonts.cdnfonts.com/css/playfair-display');
body{
    background: rgba(34, 42, 54, 0.95);
}
img{
    width: 100%;
}
.w-100{
    width: 100%;
}
@font-face {
    font-family: PoppinsRegular;
    src: url(../fonts/Poppins-Regular.ttf);
  }
@font-face {
font-family: PoppinsSemiBold;
src: url(../fonts/Poppins-SemiBold.ttf);
}
.nav-link{
    font-family: 'PoppinsRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
}
.nav_logo{
    color: white;
}
.btn_cotnact{
    padding: 10px 20px;
    width: 152px;
    height: 50px;
    background: #676CDB;
    color: white;
    font-weight: 600;
}
.banner_text{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
    color: #FFFFFF;
}
.text-gray{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    color: rgba(255, 255, 255, 0.5);
}
.banner{
    background-image: url("../img/Rectangle\ 3.png");
    background-position:right;
    background-repeat: no-repeat;
    padding-top: 140px;
    padding-bottom: 140px;
}
.mobile_image{
    display: none;
}
@media only screen and (max-width: 992px){
    .banner{
        background-image: none;
    }
    .mobile_image{
        display: block;
    }
    .banner_text{
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        color: #FFFFFF;
    }
}
.download_cv{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.logo{
    width: 100%;
    height: 200px;
    top: 743px;
    background-color: black;
    display: flex;
    align-items: center;
}
.figma{
    Width: 64px;;
    Height: 94px;
}
.html{
    Width:82px;
    Height:92px;
}
.css{
    Width:76px;
    Height:84px;
}
.sass{
    Width:110px;
    Height:86px;
}
.react{
    Width:110px;
    Height:100px;
}
.middle_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 180%;
    text-align: center;
    margin-top: 76px;
    color: #FFFFFF;
}
.left-text{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 180%;
    color: #FFFFFF;
    margin-top: 95px;
}
.mid_text2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    transform: rotate(-90.47deg);
    padding-left: 100px;
    position: bottom;
}
.box_mid{
    width: 622.03px;
    height: 286.4px;
    left: 1021px;
    top: 1386.05px;
    background: #676CDB;
    transform: rotate(90.47deg);
}
.box_col{
    padding-top: 200px;
}
.monitor{
    width: 51.63px;
    height: 40.91px;
    left: 758px;
    top: 1862px;
}
.elva{
    width: 30px;
    height: 28.8px;
    left: 1062px;
    top: 1549.04px;
}
.paint{
    height: 28.13611602783203px;
    width: 28.520687103271484px;
    left: 1.31732177734375px;
    top: 0.56982421875px;
}
.mid_box2{
    width: 288px;
    height: 288px;
    left: 1032px;
    top: 1386px;
    background: #C4C4C4;
}
.mid_text3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #222A36;
}
.box_col2{
    padding-top: 132px;
    margin-left: 110px;
}

.year_4{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 120%;
    color: #676CDB;
}
.col-5{
    margin-top: 100px;
}

.box-mid{
    width: 622.03px;
    height: 286.4px;
    left: 1021px;
    top: 1386.05px;
    background: #676CDB;
    transform: rotate(90.47deg)
}
.lorem_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
    color: #FFFFFF;
    padding-left: 15px;
}
.svg{
    height: 77px;
    left: 404px;
    top: 0px;
    padding-left: 15px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 120%;
    color: #c4c4c4;
    width: 47px;
}
.svg2{
    padding-left: 15px;
    padding-top: 28.33px;
    Width: 26.67px;
    Height: 23.33px;
    Top: 31.67px;
    Left: 33.33px;
    left: 45.83%;
}
.last_details{
    padding-top: 200px;
}
.last_text{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
    /* width: 164px;
    height: 72px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0; */
}
.last_text2{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #676CDB;
}
.footer{
    width: 1366px;
    height: 100px;
    background: black;
}
.footer_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
}
.color_white{
    color: white
}